# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Manoah Somers\Documents\Fontys\2020-2021\Semester 3\Groepsproject\Code\sioux-project-s3\Sioux\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
