# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\-Fontys\Fonty 20-21 - 3e semester\GroupProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
